@font-face {
  font-family: 'Caslon';
  font-style: normal;
  src: url('ACaslonPro-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Caslon';
  font-style: italic;
  src: url('ACaslonPro-Italic.otf') format('opentype');
}
@font-face {
  font-family: 'Caslon';
  font-style: normal;
  font-weight: semibold;
  src: url('ACaslonPro-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'Caslon';
  font-style: italic;
  font-weight: semibold;
  src: url('ACaslonPro-SemiboldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Caslon';
  font-style: normal;
  font-weight: bold;
  src: url('ACaslonPro-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Caslon';
  font-style: italic;
  font-weight: bold;
  src: url('ACaslonPro-BoldItalic.otf') format('opentype');
}
