@font-face {
  font-family: 'Proxima Nova';
  src: url('../public/fonts/Proxima Nova Regular.otf') format('opentype');
}

@font-face {
  font-family: 'ACaslonPro Italic';
  src: url('../public/fonts/ACaslonPro-Italic.otf') format('opentype');
}

html {
  font-family: 'Proxima Nova', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'ACaslonPro Italic', sans-serif;
}
